*{
    margin: 0;
    padding: 0;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 10;
    
}

.back-img{
    filter: brightness(60%);
}

.card-img{
    height:100vh;
}

.card-img-overlay{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial !important;

}



.card-title{
    font-size: 30px;
}

.card-text{
    font-size: 16px;
}
/* about Styling */
#about{
    padding: 10px;
    margin:40px 20px;
    
}


.a-right p{
    margin-bottom: 2px;
}

.progress{
    margin-bottom: 10px;
}

/* Courses styling */

#courses{
    background: rgb(1, 162, 255);
    padding: 20px;
}

#courses .cmt::after{
    content: ' ';
    background:#000;
    display: block;
    height: 3px;
    width: 240px;
    margin: 10px auto 7px;
}

.bct{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.imgnode{
    width: 60px;
    height: 60px;
}


/* services styling */

#services{
    background: #333;
    color: white;
}

#services h2{
    text-align: center;
    padding-top: 20px;
}

#services h2::after{
    content: ' ';
    background:#fff;
    display: block;
    height: 3px;
    width: 140px;
    margin: 10px auto 7px;
}

.img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/* Signup styling */

.error{
    color: red;
}

#sign-up{
    margin: 10px 0;
}


/* Footer */
footer{
    color: white;
}

.support{
    margin-top: 100px;
}

.footer{
    padding-left: 40px;
}

.imgs{
    width: 40px;
    height: 40px;
}

.f1, .f2{
    margin: 2px;
}
.imgj{
    width: 80px;
    height: 40px;
}

/* Media queries for small devices */

@media (max-width: 767.98px) { 
 .sut{
     font-size:  35px;
     margin-top: 10px;
 }
 .a-right-text{
     margin-top: 18px;
 }
 .ft{
    font-size:  40px;
 }
 .con-text{
     font-size: 17px;
 }

 .footer{
    padding-left: 20px;
 }

 }
